<h1>The following dressings were found: </h1>

<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>DressingName</th>
            <th>Calories</th>
            <th>Carbs</th>
            <th>RestaurantNames</th>
            <th>Add to Dressing List</th>
        
        </tr>
    </thead>
    <tbody>
        <% for (dressing of dressings){ %>
            <tr>
                <td><%= dressing['dressingName'] %> </td>
                <td><%= dressing['calories'] %></td>
                <td><%= dressing['carbs'] %></td>
                <td><%= dressing['restaurantNames'] %></td>
                <td> <div><a href="/addDressing/<%= dressing['_id'] %>">add Dressing</a></div></td>
             
            </tr>
        <% } %>
        </tbody>
    


    
</table>